<!DOCTYPE html>
    <head>
        <title>Mat Redmond</title>
        <meta name="description" content="">

        <!-- <link rel="shortcut icon" type= "image/x-icon" href="https://s3.amazonaws.com/radiantautonc.com/favicon.ico"> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://kit.fontawesome.com/557eec48f0.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type= "image/x-icon" href="https://s3.amazonaws.com/mathewredmond.com/favicon.ico">
        <!-- <script type="text/javascript" src="/pubic/javascript/myscripts.js"></script> -->
    </head>
    <body>

        <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index"><h3>Mathew Redmond</h3></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item collapse"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/todo">To Do List</a></li>
                            <li class="nav-item"><a class="nav-link" href="/nonprofit">Bishop Foundation</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://www.radiantautonc.com">Radiant Auto LLP</a></li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/RadiantAutoLLP">Connect with Us on Facebook! <i class="text-primary fab fa-facebook"></i></a> 
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="tel:910-236-6077"><i class=" text-success fas fa-phone-alt"></i> Call Now! </a>
                            </li> -->

                   
                            <!-- <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li> -->
                   
                    </ul>
                </div>
            </div>
        </nav>









       