<%- include("./partials/header") %>



<div class="container">
    <header class="jumbotron">
        <div class="container text-center"> 
            <h4>Welcome!</h4>
            <p>This is the About page</p>
        </div>
    </header>

    <div style="text-align: center" class="container mx-auto">
        <img src="https://s3.amazonaws.com/mathewredmond.com/linkedinpic.jpg">
    </div>
 
 
</div>

<%- include("./partials/footer") %>