<%- include("./partials/header") %>

<h1>Contact Me</h1>

<form action="/contact" method="POST">
    <input type="text" name="firstname" placeholder="firstname"> 
    <input type="text" name="lastname" placeholder="lastname"> 
    <input type="text" name="email" placeholder="email address"> 
    <input type="text" name="phone" placeholder="phone number (optional)"> 
    <input type="textarea" name="request" placeholder="Enter details about why you would me to contact you"> 
    <button>Submit</button>
</form>


<%- include("./partials/footer") %>