<%- include("./partials/header") %>



<div class="container">
    <header class="jumbotron">
        <div class="container text-center"> 
            <h4>Welcome!</h4>
            <p>This is a place for me to showcase my portfolio</p>
        </div>
    </header>

    <div class="container text-center mx-auto ">
    <p>My name is Mathew Redmond, I am a Technical Support Engineer, and US Marine Veteran.</p>
    <p>I have worn many hats during my 7 years of experience in the IT field. Some of those hats include:</p>
        <ul class="text-center" style="list-style-position: inside;vertical-align:middle;">
            <li>Network Engineer</li>
            <li>Systems Administrator</li>
            <li>Technical Support Engineer (Storage, Backup, Cloud, and Disastor Recovery)</li>
            <li>Freelance Web Developer</li>
            <li>Platform Engineer</li>
        </ul>
      </div>
</div>








<%- include("./partials/footer") %>