<%- include("./partials/header") %>



<div class="container">
    <header class="jumbotron">
        <div class="container text-center"> 
            <h4>Welcome!</h4>
            <p>This is the Landing page</p>
        </div>
    </header>


    
 
</div>

<%- include("./partials/footer") %>