<%- include("./partials/header") %>




<div class="container text-center">
    <h1 class=login>Log in</h1>
<form action="/login" method="POST">
    <div class="m-2"><input type="text" name="username" placeholder="username"> </div>
    <div class="m-2"><input type="password" name="password" placeholder="password"> </div>
    <div><button>login</button></div>
</form>
</div>


</body>
</html>