<%- include("./partials/header") %>
<div style="text-align: center" class="container p-3">
   <img  src=https://s3.amazonaws.com/mathewredmond.com/BF.PNG>
</div>





<div class="bishopbg container text-center border">
<h1>
<strong><u>Background</u></strong>
</h1>


<br>
The Bishop Foundations was Founded by 4 United States Marine Veterans, who became a family through mutual support in some of life's toughest challenges. <br>
The Bishop Foundation is named after Staff Sergeant Brent Bishop, and in honor of Lance Corporal Christopher Cook, both of which are devastating loses to this world. <br>
These two Marines gave back any chance they could, helping those around them, running marathons in the name of charity, and just by being great friends to anyone in need of one. <br>  
<br><br>
The Bishop Foundation is dedicated to building a better world each and every day.<br>
We believe that even the smallest positive contribution to the world in which we live is Significant.  <br><br>
Join us in changing the world one person or family at a time. <br>
<br><br>
<strong>Semper Fidelis</strong>
<br><br>
</div>

<div class="container pt-3">
<div class="row">
    <div class="col-6 p-0">
        <img class=" mx-auto rounded " src=https://s3.amazonaws.com/mathewredmond.com/Marathon1.jpg>
    </div>    
        <div class="col-6 my-auto">
            <p>Depicted in the photo are Marine Veterans and close friends of the late Staff Sergeant Bishop.</p>
            <p>From left to right: Sgt J. Rieken, Sgt W. Maher, GSgt G. Davis, Sgt M. Redmond</p>
            <p> Taken: October 23, 2016</p>  
        </div>
</div>
</div>

<%- include("./partials/footer") %>