<%- include("./partials/header") %>


<div class="container">
    <div class="row"> 
        <div class="col-4 border pr-2">
            <div style="text-align: center" class="container mx-auto">
                <img src="https://s3.amazonaws.com/mathewredmond.com/linkedinpic.jpg">
            </div>
            <h1>
                Information:
            </h1>
            <p style="text-align: center">
                Name: Mathew A. Redmond II, CISSP
            </p>
            <p style="text-align: center">
                Title: Software Developer | Platform Engineer | Technologist
            </p>
            <p>
                Phone: <a class="" href="tel:585-905-4690"><i class=" text-success fas fa-phone-alt"></i> 585-905-4690 </a>
            </p>
            <p>
               <a class="" href="https://www.linkedin.com/in/mathew-redmond/"> LinkedIn <i class="text-primary fab fa-facebook"></i></a> 
            </p>
        </div>
        <div class="col-8 border pl-2">
            <div>
                <h1>Mathew A. Redmond II, CISSP</h1>
            </div>
            <div>
                <h3>Summary:</h3>
                <p>
                    Highly motivated technician with over 9 years of experience, with an abundance of exposure to troubleshooting, network administration, system administration, software development and IT security. Self-motivated team player with a tireless work ethic. Thousands of hours spent learning networking, systems administration and developing training curriculum. Dedicated to the creation of processes that improve efficiency, security, and the development of future leaders. 
                </p>
            </div>
           
            <div>
                <h1 style="text-align: center">
                    Skills:
                </h1>
                <div class="row">
                    <div class="col-4" >
                        <ul>
                            <li>Networking</li>
                            <li>Server 2016</li>
                            <li>MS SQL Server</li>
                            <li>WebHelpDesk</li>
                            <li>JIRA</li>
                            <li>Zenoss Monitoring</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>C++</li>
                            <li>JavaScript</li>
                            <li>MongoDB</li>
                            <li>NodeJS</li>
                            <li>jQuery</li>
                            <li>HTML/CSS</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>Troubleshooting</li>
                            <li>Secureity Operations</li>
                            <li>Project Management</li>
                            <li>Leadership</li>
                            <li>Change Management</li>
                            <li>Auditing</li>
                        </ul>
                    </div>
                </div>


            </div>
            <div>
                <h1>Education:</h1>
                <ul>
                    <li>Master of Science, SANS Institute - Attending</li>
                    <li>Bachelors of Science in IT Security, Western Governors University - Salt Lake City, UT </li>
                    <li>Associate in Arts, Coastal Carolina Community College - Jacksonville, NC</li>
                </ul>
            </div>
        </div>
    </div>
</div>







<%- include("./partials/footer") %>