<%- include("./partials/header") %>


<div class="container">
    <div class="row"> 
        <div class="col-4 border pr-2">
            <div style="text-align: center" class="container mx-auto">
                <img src="https://s3.amazonaws.com/mathewredmond.com/linkedinpic.jpg">
            </div>
            <h1>
                Information:
            </h1>
            <p style="text-align: center">
                Name: Mathew A. Redmond II, CISSP
            </p>
            <p style="text-align: center">
                Title: Software Developer | Platform Engineer | Technologist
            </p>
            <p>
                Phone: <a class="" href="tel:585-905-4690"><i class=" text-success fas fa-phone-alt"></i> 585-905-4690 </a>
            </p>
            <p>
               <a class="" href="https://www.linkedin.com/in/mathew-redmond/"> LinkedIn <i class="text-primary fab fa-facebook"></i></a> 
            </p>
        </div>
        <div class="col-8 border pl-2">
            <div>
                <h1>Mathew A. Redmond II, CISSP</h1>
            </div>
            <div>
                <h3>Summary:</h3>
                <p>
                    Highly motivated technician with over 9 years of experience, with an abundance of exposure to troubleshooting, network administration, system administration, software development and IT security. Self-motivated team player with a tireless work ethic. Thousands of hours spent learning networking, systems administration and developing training curriculum. Dedicated to the creation of processes that improve efficiency, security, and the development of future leaders. 
                </p>
            </div>
           
            <div>
                <h1 style="text-align: center">
                    Skills:
                </h1>
                <div class="row">
                    <div class="col-4" >
                        <ul>
                            <li>Networking</li>
                            <li>Server 2016</li>
                            <li>MS SQL Server</li>
                            <li>WebHelpDesk</li>
                            <li>JIRA</li>
                            <li>Zenoss Monitoring</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>C++</li>
                            <li>JavaScript</li>
                            <li>MongoDB</li>
                            <li>NodeJS</li>
                            <li>jQuery</li>
                            <li>HTML/CSS</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li>Troubleshooting</li>
                            <li>Secureity Operations</li>
                            <li>Project Management</li>
                            <li>Leadership</li>
                            <li>Change Management</li>
                            <li>Auditing</li>
                        </ul>
                    </div>
                </div>


            </div>
            <div>
                <h1 style="text-align: center">Education:</h1>
                <ul>
                    <li>Master of Science, SANS Institute - Attending</li>
                    <li>Bachelors of Science in IT Security, Western Governors University - Salt Lake City, UT </li>
                    <li>Associate in Arts, Coastal Carolina Community College - Jacksonville, NC</li>
                </ul>
            </div>
            <div>
                <h1 style="text-align: center">Work Experience:</h1>
                <ul>
                    <h3><strong>Platform Engineer, Cisco Systems</strong> <em>May 2019 - Present</em></h3>
                    <li>Plan, Design and Implement various platforms supporting a SaaS service offered to DoD customers</li>
                    <li>Maintain Applications and OS’ through remediating vulnerabilities and validating DoD STIG compliance </li>
                    <li>Primary engineer responsible for the continuous operation and troubleshooting of any issues related to Zenoss, such as docker containers, aborted services, and upgrades. </li>
                </ul>
                <ul>
                    <h3><strong>Technical Support Engineer II, NetApp</strong> <em>Feb 2018 – May 2019 </em></h3>
                    <li>Provide SME level backup and disaster recovery support to fortune 500 companies. </li>
                    <li>Work with engineering to discover software bugs, and requests for product enhancements.  </li>
                    <li>Support escalated cases related to backup applications, cloud, and SMB/NFS performance concerns.</li>
                    <li>Collaborate with other Support Engineers to resolve complex and critical cases.  </li>
                    <li>Build complex labs in VMWare to replicate and troubleshoot customer environments.</li>
                    <li>Navigate Windows & Linux OS to perform tests and maintenance.  </li>
                    <li>Troubleshoot AWS connectivity, retention, and performance issues. </li>
                </ul>
                <ul>
                    <h3><strong>Technical Controller, U.S. Marine Corps </strong> <em>Dec 2012 - Dec 2017 </em></h3>
                    <li>Lead implementation and maintenance of an enterprise sized network, including dozens of routers, switches, ESXI hosts, and several domains hosted in Windows server 2008/2012R2.  </li>
                    <li>Supported 750 users in 4 separate geographic locations with zero interruptions of service. </li>
                    <li>Write PowerShell scripts to expedite the deployment of new Windows Domains.</li>
                    <li>Built a research and development environment utilizing VMWare 6.x and GNS3 to test new and more efficient ways to deploy various servers, and routing/switching devices resulting in deployment time being reduced by 30%.  </li>
                    <li>Created a company training group and 75-day curriculum to teach 50 employees to be network and systems technical specialists improving efficiency and readiness. </li>
                </ul>
            </div>
        </div>
    </div>
</div>







<%- include("./partials/footer") %>